___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

In [3]:
pwd #locacion en la que estoy, los archivos que abro deberan estar ahi

'C:\\Users\\palic\\Desktop\\Python for ML\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas'

## CSV

### CSV Input

In [3]:
df = pd.read_csv('example')
df
#df es el dataframe que contiene los datos sacados del archivo example

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
pd.read_csv #si apretas shift tenes la opciones luego del __

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=None, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression: 'CompressionOptions' = 'infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)>

# CSV Output

ahora ese DF, df, lo paso a guardar a formato cvs para practicar lo inverso

In [12]:
df.to_csv('example',index=False) # Write object to a comma-separated values (csv) file.

index : bool, default True
    Write row names (index).

In [13]:
df.to_csv("my_output",index=False) 
#indexbool, default True Write row names (index).
pd.read_csv("my_output")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
# si no agrego index False, me toma el index como columna, y agrega un nuevo index
df.to_csv("my_output")
pd.read_csv("my_output")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [27]:
conda install xlrd #esto lo haces en la terminal, si estas usando anaconda ya esta instalada con pandas

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [15]:
#lo que hace es leer un archivo de excel y devolvertelo como un datafram y tambien lo inverso/contrario
pd.read_excel('Excel_Sample.xlsx',index_col = 0)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

si el archivo no se encuentra donde estoy parada, tengo que pasar todo el pasaje de donde esta

uno de los parametros de la funcion es :
  sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify None to get all worksheets.
    
 otro de los parametros:
 index_col : int, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.
    
 ---> index_col = 0 <--- le indico que la primer columna es el index, porque sino toma esa columna como otra cualquiera y ademas como no tiene nombre le asigna "unnamed"

### Excel Output

In [16]:
df.to_excel('Excel_Sample.xlsx')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

In [36]:
conda install lxml

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [33]:
conda install html5lib

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\palic\anaconda3

  added / updated specs:
    - html5lib


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    html5lib-1.1               |     pyhd3eb1b0_0          91 KB
    ------------------------------------------------------------
Note: you may need to restart the kernel to use updated packages.

                                           Total:          91 KB

The following NEW packages will be INSTALLED:

  html5lib           pkgs/main/noarch::html5lib-1.1-pyhd3eb1b0_0 None



Downloading and Extracting Packages

html5lib-1.1         | 91 KB     |            |   0%
html5lib-1.1         | 91 KB     | #7         |  18%
html5lib-1.1         | 91 KB     | ########## | 100%
html5lib-1.1         | 91 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Retrieving notices: ...working... done

In [37]:
conda install BeautifulSoup4

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:
Also keep in mind not every .html page will work with pandas automatically, look at your error, it couldn't find any tables on that page

In [35]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [34]:
data[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [24]:
type(data)

list

OBS: no es un DF, sino una lista(con un solo item). Si apretas ctrl+ U en la pagina del banco, vas a ver el codigo html. Pandas lo que hace, a travez de esta funcion, es convertirte ese item en un DataFrame.

puede pasar que algunas cosas no se copien y aparezcan Nan

In [28]:
type(data[0])

pandas.core.frame.DataFrame

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('sqlite:///:memory:')

eso crea un motor temporario en la memoria, ese engine es una coneccion

In [6]:
df.to_sql('data', engine)

4

DataFrame.to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None, method=None)
Write records stored in a DataFrame to a SQL database.

parametros:
   name: str.Name of SQL table.
   con (de connection): Using SQLAlchemy makes it possible to use any DB supported by that library. Legacy support is provided for sqlite3.Connection objects. The user is responsible for engine disposal and connection closure for the SQLAlchemy connectable See here(https://docs.sqlalchemy.org/en/13/core/connections.html).
Returns
   None or int
   Number of rows affected by to_sql. (por eso devolvio 4)

In [7]:
sql_df = pd.read_sql('data',con=engine)

In [8]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Great Job!