___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [4]:
np.random.seed(101) #la seed se usa para arrancar con el mismo numero aleatorio
#empieza en ese nmumero, si seguis ejecutando aparecen nuevos pero arranca desde ese

In [5]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
#      .DataFrame(data,index,columnas)

In [23]:
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

df es un grupo de series que comparten un index

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [6]:
df['W'] #grab a column

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W']) # fijate que es una serie

pandas.core.series.Series

In [10]:
# Pass a list of column names USA DOS CORCHETES!
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

no recomendado porque cuando usas "punto" algo estas usando un metodo. entonces podes sobreescribir un metodo cuando la columna tiene el mismo nombre. (los metodos t aparecen con el tab o shoft tab)

DataFrame Columns are just Series

In [12]:
type(df['W'])

pandas.core.series.Series

In [13]:
type(df[['W','Z']])

pandas.core.frame.DataFrame

**Creating a new column:**

In [25]:
df['new'] = df['W'] + df['Y']

In [26]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns**

In [27]:
df.drop('new',axis=1)   #axis=0 refers to de INDEX (por default te pone este), axis=1 refers to the COLUMS

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

para acordarte, fijate que cuando pedis el .shape de alguna amtriz te devuelve (fila,columna) = (0,1) segun la posicion digamos...

In [28]:
# Not inplace unless specified! fijate que no desaparecio la columna new
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [17]:
df.drop('new',axis=1,inplace=True)  #for permanent change "inplace=True"

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)  #incluso sin el axis=0 pero recordar que es INDEX

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [198]:
df.loc['A']    # .loc["label"]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

.loc es un metodo por ej.

In [8]:
type(df.loc['A'] ) #las filas tambien son series

pandas.core.series.Series

Or select based off of position instead of label

In [199]:
df.iloc[2] # iloc[num_fila] de index location,cuando quiero indicar con el numero y no con un label, en este caso 2 corresponde al index C

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
df.loc['B','Y'] # [FILA,COLUMNA]

-0.84807698340363147

In [201]:
df.loc[['A','B'],['W','Y']]  #df.loc[['FILA1','FILA2'],['COLUMNA1','COLUMNA2']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [202]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [203]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [10]:
#Podes obtener una "matriz booleana" ponele..
boolean_df=df>0
boolean_df

       W      X      Y      Z
A   True  False  False  False
B   True  False  False   True
C  False   True   True   True
D  False   True   True   True
E   True  False   True  False

In [11]:
#me devuelve los valores VERDADEROS y falsos como null
df[df>0]

         W         X         Y         Z
A  1.60678       NaN       NaN       NaN
B  0.04146       NaN       NaN  0.110477
C      NaN  0.253548  0.649148  0.358941
D      NaN  0.902398  0.161781  0.833029
E  0.97572       NaN  0.783316       NaN

In [205]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df['W']>0 #serie booleana respecto a la condicion donde W > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [207]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [24]:
boolser=df["W"]>0 #serie booleana
result= df[boolser] # resultado del dataframe con la condicion de arriba
mycols=["Y","X"]  # columnas
result[mycols] #resultado de arriba para las columnas indicadas antes

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [208]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df[(df['W']>0) | (df['Y'] > 1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df[df["Z"]>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
resultado=df[df["Z"]>0]

In [18]:
resultado["W"]

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: W, dtype: float64

Todo eso lo puedo hacer en un paso

In [19]:
df[df["Z"]>0]["W"]

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: W, dtype: float64

In [23]:
df[df["Z"]>0]["W"].loc[["A","B"]] # FIJATE la diferencia cuando es fila y columna df.loc['B','Y'] # [FILA,COLUMNA]

A    2.706850
B    0.651118
Name: W, dtype: float64

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [210]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [26]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [27]:
df['States'] = newind

In [28]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [29]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [30]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [31]:
df.set_index('States',inplace=True)

In [32]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [6]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2'] # una lista
inside = [1,2,3,1,2,3]   #otra lista

Python zip() method takes iterable or containers and returns a single iterator object, having mapped values from all the containers.

In [7]:
zip(outside,inside)

In [37]:
x=zip(outside,inside)
x

In [39]:
x=list(zip(outside,inside))
x

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

obtengo una lista de tuplas

In [40]:
x=set(zip(outside,inside))
x

{('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)}

In [8]:
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

despues para los index multiples--->  
  MultiIndex.from_tuples(tuples, sortorder=None, names=None)
  Convert list of tuples to MultiIndex.

In [9]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [59]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df
#tiene 2 niveles de index "multilevel index"

             A         B
G2 3  0.302665  1.693723
G1 2 -1.706086 -1.159119
G2 2 -0.134841  0.390528
G1 1  0.166905  0.184502
G2 1  0.807706  0.072960
G1 3  0.638787  0.329646

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [60]:
df.loc['G1']

          A         B
2 -1.706086 -1.159119
1  0.166905  0.184502
3  0.638787  0.329646

In [61]:
df.loc['G1'].loc[1] #le indico que quiero aquella fila que tiene numero 1

A    0.166905
B    0.184502
Name: 1, dtype: float64

In [62]:
#si buscas puntualmente algo
df.loc["G1"].loc[3]["A"]

0.638787013499328

In [265]:
df.index.names

FrozenList([None, None])

In [63]:
df.index.names = ['Group','Num']  #se refiere a los [G1,numeros]
#esto lo podes hacer cuando creas el multiindex igual

In [64]:
df

                  A         B
Group Num
G2    3    0.302665  1.693723
G1    2   -1.706086 -1.159119
G2    2   -0.134841  0.390528
G1    1    0.166905  0.184502
G2    1    0.807706  0.072960
G1    3    0.638787  0.329646

In [66]:
#OTRA FORMA DE BUSCAR df.xs(key, axis=0, level=None, drop_level: 'bool_t' = True)
df.xs('G1')

            A         B
Num
2   -1.706086 -1.159119
1    0.166905  0.184502
3    0.638787  0.329646

In [67]:
df.xs(['G1',1])

C:\Users\palic\AppData\Local\Temp\ipykernel_17996\580597333.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

A    0.166905
B    0.184502
Name: (G1, 1), dtype: float64

In [68]:
df.xs(1,level='Num') # para el index Num 1 me devuelve los datos

              A         B
Group
G1     0.166905  0.184502
G2     0.807706  0.072960

# Great Job!