El INDEX lo armabamos en la funcion de DataFrame pero, una vez ya ejecutado eso, existen otras opciones para modificar.
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [2]:
# Reset to default 0,1...n index  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
df.reset_index()

  index         W         X         Y         Z
0     A  0.149020 -1.240747 -2.152622  0.766626
1     B -0.264109 -0.450183  0.600003 -0.058297
2     C -0.066266 -0.467132 -1.275227 -0.986775
3     D -0.007857 -0.691024 -0.914096  0.303337
4     E  1.534092 -0.183862 -0.883741  0.468022

In [3]:
df  # para cambios permanentes tengo que usar el implace

          W         X         Y         Z
A  0.149020 -1.240747 -2.152622  0.766626
B -0.264109 -0.450183  0.600003 -0.058297
C -0.066266 -0.467132 -1.275227 -0.986775
D -0.007857 -0.691024 -0.914096  0.303337
E  1.534092 -0.183862 -0.883741  0.468022

In [4]:
df["Estados"]='CA NY WY OR CO'.split() #agrego una columna llamada estados

In [5]:
df

          W         X         Y         Z Estados
A  0.149020 -1.240747 -2.152622  0.766626      CA
B -0.264109 -0.450183  0.600003 -0.058297      NY
C -0.066266 -0.467132 -1.275227 -0.986775      WY
D -0.007857 -0.691024 -0.914096  0.303337      OR
E  1.534092 -0.183862 -0.883741  0.468022      CO

In [7]:
df.set_index('Estados',inplace=True)

In [8]:
df

                W         X         Y         Z
Estados
CA       0.149020 -1.240747 -2.152622  0.766626
NY      -0.264109 -0.450183  0.600003 -0.058297
WY      -0.066266 -0.467132 -1.275227 -0.986775
OR      -0.007857 -0.691024 -0.914096  0.303337
CO       1.534092 -0.183862 -0.883741  0.468022

Multi-Index and Index Hierarchy
(multi index porque tendremos diferentes niveles de index)
https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [ ]:
 #example of what a Multi-Indexed DataFrame would look like:

In [9]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [19]:
# zip lo que hace es generar objetos combinados, es un objeto iterador o algo asi..
combinado = zip(outside,inside)

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [16]:
for i in combinado:
    print(i)

('G1', 1)
('G1', 2)
('G1', 3)
('G2', 1)
('G2', 2)
('G2', 3)

In [17]:
# sino puedo decir list y y me imprime todo
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [23]:
combinado=list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(combinado)

In [25]:
hier_index  # ESTO es lo que vas a mandar como INDEX

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.089130 -1.686514
   2 -0.263534 -1.039899
   3 -0.378370  1.565578
G2 1  1.251165 -0.166663
   2 -0.112597 -0.565491
   3  0.435265 -0.431873

For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [27]:
df.loc['G1']

          A         B
1  0.089130 -1.686514
2 -0.263534 -1.039899
3 -0.378370  1.565578

In [34]:
df.loc['G1'].loc[3]

A   -0.378370
B    1.565578
Name: 3, dtype: float64

In [32]:
df.index.names = ['Grupo G',None]

In [33]:
df

                  A         B
Grupo G
G1      1  0.089130 -1.686514
        2 -0.263534 -1.039899
        3 -0.378370  1.565578
G2      1  1.251165 -0.166663
        2 -0.112597 -0.565491
        3  0.435265 -0.431873

In [35]:
#si buscas puntualmente algo
df.loc["G1"].loc[3]["A"]

-0.37836962699323434

In [36]:
#OTRA FORMA DE BUSCAR
df.xs('G1')

          A         B
1  0.089130 -1.686514
2 -0.263534 -1.039899
3 -0.378370  1.565578

In [40]:
df.xs(['G1',1])

C:\Users\palic\AppData\Local\Temp\ipykernel_5460\580597333.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

A    0.089130
B   -1.686514
Name: (G1, 1), dtype: float64

In [39]:
df.xs(['G1',1])["A"]

C:\Users\palic\AppData\Local\Temp\ipykernel_5460\4154563205.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])["A"]

0.08913019126300556

In [43]:
df.xs(1,level=)
# en este caso no le puse nombre al level pero podes indicar el nombre de la columna del subindex

ValueError: No axis named None for object type DataFrame