Buscador condicional

In [6]:
import pandas as pd
import numpy as np
from numpy import random
df = pd.DataFrame(random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [7]:
df

          W         X         Y         Z
A -1.152835 -0.371237 -0.440853 -0.274000
B  0.134492 -1.375416  0.294653  0.869499
C  0.318502  1.657149  0.293874 -0.858617
D  0.040098  0.821507  0.309300  1.799894
E  1.168974 -0.656124  1.465688 -1.964298

In [8]:
# quiero los valores mayores que cero    df [CONDICION]
df[df>0]  # aca la condicion es todos los valores mayores a cero

          W         X         Y         Z
A       NaN       NaN       NaN       NaN
B  0.134492       NaN  0.294653  0.869499
C  0.318502  1.657149  0.293874       NaN
D  0.040098  0.821507  0.309300  1.799894
E  1.168974       NaN  1.465688       NaN

In [ ]:
df

In [9]:
#condicion solo aquellas filas donde la columna W tiene valores mayores a cero
df[df['W']>0]

          W         X         Y         Z
B  0.134492 -1.375416  0.294653  0.869499
C  0.318502  1.657149  0.293874 -0.858617
D  0.040098  0.821507  0.309300  1.799894
E  1.168974 -0.656124  1.465688 -1.964298

In [10]:
df[(df['W']>0) & (df['Y'] > 1)]  # df[(C1) & (C2)]

          W         X         Y         Z
E  1.168974 -0.656124  1.465688 -1.964298

In [18]:
df[df['W']>0]['Y']

B    0.294653
C    0.293874
D    0.309300
E    1.465688
Name: Y, dtype: float64

In [20]:
df[df['W']>0][['Y',"W"]]

          Y         W
B  0.294653  0.134492
C  0.293874  0.318502
D  0.309300  0.040098
E  1.465688  1.168974