___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [1]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [16]:
num = 12
name = 'Sam'

In [17]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [9]:
numero=27
nombre='Paloma'

In [12]:
print("mi numero es: {one}, y mi nombre es: {two}".format(one=numero, two=nombre))

mi numero es: 27, y mi nombre es: Paloma

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [14]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

a ---> posicion 0
b ---> posicion 1
c ---> posicion 2
d ---> posicion 3

In [31]:
my_list[0]

'a'

eso se llama INDEXING. buscar un elemento a travez de la enumeracion (porque las listas tienen un orden entonces esta enumerada)

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

cuando indicas de tal en adelante te toma el tal inclusive

In [34]:
my_list[:1]

['a']

cuando indicas hasta tal, no te toma el tal inclisive sino que te toma hasta la posicion (tal-1)

In [35]:
my_list[0] = 'NEW'

In [15]:
my_list

['a', 'b', 'c']

In [ ]:
my_list.

----Nested lists-----

In [20]:
nest = [1,2,3,[4,5,['target']]]

In [5]:
nest[3]

[4, 5, ['target']]

In [6]:
nest[3][2]

['target']

Fijate que lo de arriba y lo de abajo es como cuando buscaba en los programas de la web. Algo adentro de algo y adentro de algo

In [8]:
nest[3][2][0]

'target'

el cero me devuelve el objeto adentro de todo eso

### Dictionaries

In [18]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

In [22]:
dic={'llave1':'palo','llave2':nest}

In [24]:
dic['llave1']

'palo'

In [25]:
dic['llave2']

[1, 2, 3, [4, 5, ['target']]]

In [27]:
dic['llave2'][3]

[4, 5, ['target']]

In [28]:
dic['llave2'][3][2]

['target']

In [29]:
dic['llave2'][3][2][0]

'target'

podrias meter un valor del diccionario en una lista. Por ej:

In [31]:
lista=dic['llave2'][3]
lista

[4, 5, ['target']]

In [32]:
lista[2]

['target']

tambien se pueden anidar diccionarios

In [38]:
dic= {'tipo1':{'subtipo':['a','b','c']}}

In [39]:
dic['tipo1']

{'subtipo': ['a', 'b', 'c']}

In [40]:
dic['tipo1']['subtipo']

['a', 'b', 'c']

In [41]:
dic_num={'key1':1}

las palabras o letras entre comillas, los numeros no hace falta

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [45]:
set={1,2,2,2,3,4,5,5}

In [46]:
set

{1, 2, 3, 4, 5}

Set items are unordered, unchangeable, and do not allow duplicate values.

Existe una funcion que te toma los valores unicos.

In [44]:
set([1,2,2,2,3,4,5])

TypeError: 'set' object is not callable

This error indicates that you may have defined a set with the variable name as set , if you did so, that would overwrite the built-in function set .
bueno no tendria que haber llamado 'set' al set de arriba. Fijate que cuando las letras se ponen rojas es porque corresponde alguna funcion.

Reinicie el kernel asiq ue hasta aca no toma lo que corri antes. lo dejo para ver el ejemplo con las letras rojas lo de arriba..

In [1]:
s={1,2,2,2,3,4,5,5}

In [2]:
s

{1, 2, 3, 4, 5}

Ahora si, la siguiente funcion te toma los valores unicos de una lista:

In [3]:
set([1,2,2,2,3,4,5])

{1, 2, 3, 4, 5}

In [4]:
s=set([1,2,2,2,3,4,5])

In [5]:
s

{1, 2, 3, 4, 5}

In [7]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

esto: ('i is: {}'.format(i)) tiene que ver con los placeholders https://www.w3schools.com/python/ref_string_format.asp 
In Python, Placeholder is a word, characters or a string of characters to hold a temporary place. The placeholder behaves as a dynamic place holder in such a way that you can pass a particular value for that placeholder.The format() method lets you list out the strings you want to place in relation to the {} as it appears. This means that you can have more than one {} as placeholders.
print("You have {} apple{}.".format(5, 's'))
--->you have 5 apples

## range()

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

range(start, stop, step)

Parameter	Description
start	Optional. An integer number specifying at which position to start. Default is 0
stop	Required. An integer number specifying at which position to stop (not included).
step	Optional. An integer number specifying the incrementation. Default is 1

Create a sequence of numbers from 0 to 5, and print each item in the sequence

In [8]:
range(5)

range(0, 5)

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
list(range(1,5))

[1, 2, 3, 4]

In [15]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

## list comprehension

In [16]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

out=[] simplemente crea una lista vacia 

el ** es potencia. Estaria haciendo:agregame a "out" lo siguiente, para cada item, 1^2 2^2 3^2 4^4

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

In [18]:
out2=[item**2 for item in x]
out2

[1, 4, 9, 16]

## functions

In [19]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [20]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [23]:
def square(x):
    return x**2

In [24]:
out = square(2)

## lambda expressions

In [25]:
def times2(var):
    return var*2

In [26]:
times2(2)

4

In [30]:
x = lambda var: var*2

Syntax
Simply put, a lambda function is just like any normal python function, except that it has no name when defining it, and it is contained in one line of code.
A lambda function evaluates an expression for a given argument. You give the function a value (argument) and then provide the operation (expression). The keyword lambda must come first. A full colon (:) separates the argument and the expression.

Por ej: 
 x = lambda a : a + 10
 print(x(5))
 
me devuelve: 15 


Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [31]:
x(4)

8

## map and filter

In [32]:
seq = [1,2,3,4,5]

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Syntax :

map(fun, iter)
Parameters :

fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.

NOTE : You can pass one or more iterable to the map() function.

Returns :

Returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.) NOTE : The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .
We can also use lambda expressions with map to achieve above result.

la idea entonces es, aplicar una funcion a diferentes valores. Los valores se los entrego en una lista. Me devuelve un objeto map que si le aplico list() o set() me devuleve los resultados en lista

In [33]:
map(times2,seq)

In [34]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [19]:
filter(lambda item: item%2 == 0,seq)

lambda item lo que hace es verificar si el resto de item es cero. TRUE si da cero. Filter lo que hace es devolverte aquellos numeros que cumplen con lamda. Los numeros en cuestion te los da seq. El resultado es un objeto

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [21]:
x= "palichiacchiara@hotmail.com"
print(x.split("@"))

['palichiacchiara', 'hotmail.com']

In [107]:
tweet.split('#')[1]

'Sports'

In [38]:
d={'k1':1,'k2':2}

In [39]:
d

{'k1': 1, 'k2': 2}

In [40]:
d.keys()

dict_keys(['k1', 'k2'])

Syntax
dictionary.keys()

The keys() method returns a view object. The view object contains the keys of the dictionary, as a list.

The view object will reflect any changes done to the dictionary

In [22]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [41]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

In [42]:
lst = [1,2,3]

In [43]:
lst.pop()

3

The pop() method removes the element at the specified position.

Syntax
list.pop(pos)

TE LO ELIMINA DE LA LISTA

Parameter	   Description
pos	Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [44]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

In [23]:
lista=["paloma","cristina"]
"paloma" in lista

True

In [24]:
"laura" in lista

False

In [45]:
lista_tuplas=[(1,2),(3,4),(5,6)]

In [47]:
for item in lista_tuplas:
    print (item)

(1, 2)
(3, 4)
(5, 6)

In [49]:
for a,b in lista_tuplas:
    print(a)

1
3
5

# Great Job!